path "kv/data/CICD/__ENV__/akamai-cloud/__ACCOUNT__" {
  capabilities = ["read"]
}

path "kv/metadata/CICD/__ENV__/akamai-cloud/__ACCOUNT__" {
  capabilities = ["read"]
}

path "kv/data/CICD/__ENV__/iac_state" {
  capabilities = ["read"]
}

path "kv/metadata/CICD/__ENV__/iac_state" {
  capabilities = ["read"]
}
